# directories
/target/
/workspace/
/backup/
/**/*.old

# files
*.sh
*.bin
*.toml
*.bck
*.csv
*.txt
*.zip
*.json
*.env
*.log
*.html
MENU.md
TODO.md

# IDE
.zed

# Os
.DS_Store

# To be kept
!Cargo.toml
!categories_en.json
!categories_fr.json
!currencies.json
